# Environments
.env

# Jupyter Notebook
.ipynb_checkpoints

# jetbrains
.idea

# Spotify credentials
spotifyID.txt
spotifySecret.txt

# caches
.spotify_caches
.ipynb_checkpoints
.flask_session
__pycache__/