@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i");

#navbar{
    position: sticky;
    height: 40px;
    overflow: hidden;
    top: 0; 
    z-index:1;
    background-color: white;
    width: 100%;
    margin-bottom: 10px;
  }

#nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    right: 0em;
}
