<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Roadtrip playlist generator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&callback=initMap"
    type="text/javascript"></script>
        <script src="{{ url_for('static', filename='map.js') }}"></script>
        <script src="{{ url_for('static', filename='home.js') }}"></script>
    </head>
    <body>
        <h1>Spotify Roadtrip Playlist Generator</h1>
        <h2>Celebrates the places you pass by!</h2>
        <p>(We will come up with something better! :)</p><br>
        <h3>Hi, {{posts.username}}!</h3>
        <button onclick="window.location.href='{{posts.sign_out}}';">
            Signout
        </button>

        <div>
            <label>New playlist name: </label>
            <input type="text" id="name" name="name">
            <button onclick="getMapData()">Generate playlist</button>
        </div>

        <p id="error"></p>

        <div style="display: none">
            <input id="origin-input" name="origin-input" class="controls" type="text"
                placeholder="Enter an origin location">
    
            <input id="destination-input" name="destination-input" class="controls" type="text"
                placeholder="Enter a destination location">

            <input id="msg" name="msg" class="controls" type="text"
                placeholder="Trip info" readonly>
        </div> 
    
        <div id="map"></div>

        <div id='edit_playlist' style="visibility: hidden;">
            <button onclick="removePlaylist()">Remove playlist</button>
            <button onclick="editPlaylist()">Edit playlist</button>
            <iframe id="playlist" src='' width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </body>
</html>
