<!DOCTYPE HTML>
<html>
	<head>
		<title>Spotify Road-trip Playlist Generator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfGYCwHfbj696YVFX1h7nNYe0S7iQrWt4&libraries=places&callback=initMap"
	type="text/javascript"></script>
	</head>
	<body class="is-preload">

		<div id="navbar">
			<ul id="user" class="actions">
				<li>Hi, {{posts.username}}!</li>
			</ul>
			<ul id="options" class="actions">
				<li><a href="#home" class="button nav big wide smooth-scroll-middle">CREATE PLAYLIST</a></li>
				<li><a href="#about" class="button nav big wide smooth-scroll-middle">ABOUT</a></li>
				<li><a href="{{posts.sign_out}}" class="button nav big wide smooth-scroll-middle">SIGN OUT</a></li>
			</ul>
		</div>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">
				<!-- One -->
				<section class="banner style1 orient-left fullscreen onload-image-fade-in onload-content-fade-right" id="home">
					<div class="image">
						
						
						
					
						<input class="originloc" id="origin-input" name="origin-input" type="text" placeholder="Origin city">

						<input id="destination-input" name="destination-input" type="text"
						placeholder="Destination city">
						
						
						<!--<input type="text" id="name" name="name" placeholder="Your road trip playlist name">-->
						
						<select name="dropdown" id="dropdown" placeholder="Add to a Playlist" method="GET" action="/">
							<option value="Add to new or existing playlist?" selected hidden>Add to new or existing playlist?</option>
							<option value="Create new playlist">Create new playlist</option>
							{% for playlist in list_playlists[0:] %}
								<option value="{{playlist}}">{{playlist}}</option>
							{% endfor %}
						</select>

						<p id="status"></p>
						
						<ul class="actions special">
							<li><a onclick="getMapData()" class="button big wide">Generate Playlist</a></li>
						</ul>
						
						
						<div id="map">
						</div>
						
					</div>

					
				</section>

				<!-- Footer -->
				<footer class="wrapper style1 align-center appftr">
					<div class="inner">
						<ul class="icons">
							<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</div>
				</footer>
				<!----
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right" id="home">
						<div class="content">
							<h1>Spotify Road Trip Playlist Generator</h1>
							<form>
								<div class="fields">
									<div class="field half">
										<label for="origin-input">From: </label>
										<input id="origin-input" name="origin-input" type="text" placeholder="Origin location">
									</div>
									<div class="field half">
										<label for="destination-input">To: </label>
										<input id="destination-input" name="destination-input" type="text"
									placeholder="Destination location">
									</div>
									<div class="field">
										<label for="name">New playlist name:</label>
										<input type="text" id="name" name="name" placeholder="Your road trip playlist name">
									</div>
								</div>
								<ul class="actions special">
									<li><a onclick="getMapData()" class="button big wide smooth-scroll-middle">Generate Playlist</a></li>
								</ul>
							</form>
							<p id="status"></p>
						</div>
						<div class="image">
							<div id="map"></div>
						</div>
					</section>
				-->
				<!-- Playlist generated -->
				<!---
				<div id="show_playlist">
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="generated_playlist">
						<div class="content">
							<h2 id="playlistStatus"></h2>
							<p id="playlistInfo" class="major"></p>
							<ul class="actions">
								<li><a href="#home" class="button big wide smooth-scroll-middle" onclick="removePlaylist()">Remove this playlist</a></li>
                    			<li><a class="button big wide smooth-scroll-middle" onclick="editPlaylist()">Edit playlist on spotify</a></li>
							</ul>
						</div>
						<div class="image">
							<iframe id="playlist" src='' width="100%" height="100%" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
						</div>
					</section>
				</div>
				-->
				

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/home.main.js') }}"></script>
			<script src="{{ url_for('static', filename='js/home.js') }}"></script>
			<script src="{{ url_for('static', filename='js/map.js') }}"></script>

	</body>
</html>